html{
    margin: 0px;
    padding: 0px;
    border: none;
    height: 100%;
    width: 100%;
}
body{
    margin: 0px;
    right: 0px;
    margin-top: -21px;
    height: 100%;
    text-align: center;
    padding: 0px;
}
.container{
    height: 100%;
}
